:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color-primary: #222222;
  --font-color-light: #918E9B;
  --font-color-ascent: #FE395C;
  --font-color-headings: #000000;

  --btn-bg-color: #FFFFFF;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Navbar components */

#root {
  width: 800px;
  height: 100vh;
  box-shadow: 1px 1px 10px #adb5bd;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 2em;
  box-shadow: 1px 1px 20px #adb5bd;
}

.logo {
  width: 120px;
}

/* Images */

.section-images {
  display: flex;
  gap: 1.4em;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.section {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1em;
}

.section-one, .section-five {
  justify-content: center;
}

.section-two, .section-four {
  justify-content: flex-start;
}

.section-two {
  padding-top: 1em;
}

.section-three {
  justify-content: flex-end;
}

.image {
  width: 80px;
}

/* Main components */

.main {
  width: 80%;
  padding: 0 1em;
}

.header {
  font-weight: 600;
  color: var(--font-color-headings);
  margin-bottom: 0.25em;
}

.desc {
  font-weight: 300;
  color: var(--font-color-primary);
  margin-top: 0;
}

/* Slider */

.slider {
  display: flex;
  gap: 1em;
  margin-top: 3em;
  padding: 0 1em;
}

.slider-element {
  width: 300px;
  position: relative;
  overflow: hidden;
}

.slider-image {
  width: 250px;
  height: 325px;
  border-radius: 14px;

}

.btn {
  width: 70px;
  height: 23px;
  padding: 0.25em;

  background-color: var(--btn-bg-color);
  color: var(--font-color-primary);
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.80rem;

  border-radius: 0;
  border: none;

  position: absolute;
  top: 6px;
  left: 6px;
}


.ratings-section {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
}

.star {
  width: 14px;
}

.light {
  color: var(--font-color-light);
}

.slider-heading {
  font-weight: 300;
  font-size: 1rem;
  color: var(--font-color-primary);
  margin: 0;
}

.rate {
  font-size: 0.9rem;
  margin-top: 0.5em;
}

.bold {
  font-weight: 700;
}